<mat-toolbar class="main-menu" >

    <div class="Contorno">
        <mat-icon class="mi-icono"></mat-icon>
        <h2>ESTUREVIEW</h2>
    </div>
    <div class="">
        <button mat-button routerLink="/nosotros" routerLinkActive="active">Nosotros</button>
        <button mat-button routerLinkActive="active">Servicios</button>
        <button mat-button routerLinkActive="active">Testimonios</button>
        <button mat-button routerLinkActive="active">Planes</button>
        <button mat-button routerLinkActive="active">Contacto</button>
    </div>

   <!--  <img mat-card-image src="/assets/images/imgPrincipal.PNG" alt="" class="imgPrin"> -->
    <div class="btn btn-app">
     
        <button mat-button  routerLink="/navbar3" routerLinkActive="active">Descubre más</button>
       
    </div>
</mat-toolbar>