<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<form [formGroup]="form" (submit)="aceptar()">
<mat-form-field class="example-full-width">
<mat-label>Código</mat-label>
<input matInput hidden placeholder="Código" formControlName="id">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Name</mat-label>
<input matInput required placeholder="Name" formControlName="nameUser">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Email</mat-label>
<input matInput required placeholder="Email" formControlName="emailUser">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Tipo</mat-label>
<input matInput required placeholder="Tipo" formControlName="typeUser">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Contraseña</mat-label>
<input matInput required placeholder="Contraseña" formControlName="passwordUser">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Distrito</mat-label>
<input matInput required placeholder="Distrito" formControlName="districUser">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Edad</mat-label>
<input matInput required placeholder="Edad" formControlName="ageUser">
</mat-form-field>

<br>
<button mat-raised-button type="submit" color="primary">Aceptar</button>
<button mat-raised-button color="warn" routerLink="/colegios">Cancelar</button>
<p>{{mensaje}}</p>
</form>
</body>
</html>
